<div class="jumbotron">
  <img src="https://instantchat.io/assets/logo_new.png"/>
  <h2>Welcome to InstantChat</h2>
  <p class="lead">Lightning Speed Chatting !<br />May the Force be with you !.</p>
</div>
<div id="messages" class="jumbotron">
  <h3> Enter your message here : </h3>
  <input id="chat-input" type="text"></input>
</div>
