<div class="jumbotron">
  <h2>Welcome to InstantChat</h2>
  <p class="lead">Lightning Speed Chatting !<br />May the Force be with you !.</p>
</div>
<div id="messages" class="jumbotron">
  <input id="chat-input"
